In [15]:
# Problem One

import  pandas as pd

data = [['Afghanistan', 'Asia', 652230, 25500100, 20343000000],
        ['Albania', 'Europe', 28748, 2831741, 12960000000],
        ['Algeria', 'Africa', 2381741, 37100000, 188681000000],
        ['Andorra', 'Europe', 468, 78115, 3712000000], 
        ['Angola', 'Africa', 1246700, 20609294, 100990000000]]

World = pd.DataFrame(data, columns=['name', 'continent', 'area', 'population', 'gdp']).astype(
    {'name':'object', 'continent':'object', 'area':'Int64', 'population':'Int64', 'gdp':'Int64'})

def big_countries(world: pd.DataFrame) -> pd.DataFrame:
    return World[(World['population']>25000000) | (World['area']>3000000) ][['name','population','area']]

print(big_countries(World))

          name  population     area
0  Afghanistan    25500100   652230
2      Algeria    37100000  2381741

In [2]:
# Problem 4
import pandas as pd
data = [[1, 'Joe'], [2, 'Henry'], [3, 'Sam'], [4, 'Max']]

Customers = pd.DataFrame(data, columns=['id', 'name']).astype({'id':'Int64', 'name':'object'})

data = [[1, 3], [2, 1]]
Orders = pd.DataFrame(data, columns=['id', 'customerId']).astype({'id':'Int64', 'customerId':'Int64'})
result=Customers[~Customers['id'].isin(Orders["customerId"])][['name']]
# result=result['name']
result.columns=['Customer']
print(result)

  Customer
1    Henry
3      Max

In [11]:
#invalid tweet
import pandas as pd
data = [[1, 'Vote for Biden'],
        [2, 'Let us make America great again!']]
Tweets = pd.DataFrame(data, columns=['tweet_id', 'content']).astype({'tweet_id':'Int64', 'content':'object'})

print(Tweets[Tweets['content'].str.len()>25][['tweet_id']])

   tweet_id
1         2

In [70]:
#specail bonos
import pandas as pd
data = [[2, 'Meir', 3000], 
        [3, 'Michael', 3800], 
        [7, 'Addilyn', 7400],
        [8, 'Juan', 6100],
        [9, 'Kannon', 7700]]
Employees = pd.DataFrame(data, columns=['employee_id', 'name', 'salary']).astype({'employee_id':'int64', 'name':'object', 'salary':'int64'})

Employees['bonos']=0

# Employees['bonos']= (Employees['salary'] if ~Employees['name'].str.startswith("M")  else 0  ) 

# for i in range(len(Employees)):
    
print(Employees[['name']].to_list())

AttributeError: 'DataFrame' object has no attribute 'to_list'