In [15]:
# Problem One

import  pandas as pd

data = [['Afghanistan', 'Asia', 652230, 25500100, 20343000000],
        ['Albania', 'Europe', 28748, 2831741, 12960000000],
        ['Algeria', 'Africa', 2381741, 37100000, 188681000000],
        ['Andorra', 'Europe', 468, 78115, 3712000000], 
        ['Angola', 'Africa', 1246700, 20609294, 100990000000]]

World = pd.DataFrame(data, columns=['name', 'continent', 'area', 'population', 'gdp']).astype(
    {'name':'object', 'continent':'object', 'area':'Int64', 'population':'Int64', 'gdp':'Int64'})

def big_countries(world: pd.DataFrame) -> pd.DataFrame:
    return World[(World['population']>25000000) | (World['area']>3000000) ][['name','population','area']]

print(big_countries(World))

          name  population     area
0  Afghanistan    25500100   652230
2      Algeria    37100000  2381741

In [2]:
# Problem 4
import pandas as pd
data = [[1, 'Joe'], [2, 'Henry'], [3, 'Sam'], [4, 'Max']]

Customers = pd.DataFrame(data, columns=['id', 'name']).astype({'id':'Int64', 'name':'object'})

data = [[1, 3], [2, 1]]
Orders = pd.DataFrame(data, columns=['id', 'customerId']).astype({'id':'Int64', 'customerId':'Int64'})
result=Customers[~Customers['id'].isin(Orders["customerId"])][['name']]
# result=result['name']
result.columns=['Customer']
print(result)

  Customer
1    Henry
3      Max

In [11]:
#invalid tweet
import pandas as pd
data = [[1, 'Vote for Biden'],
        [2, 'Let us make America great again!']]
Tweets = pd.DataFrame(data, columns=['tweet_id', 'content']).astype({'tweet_id':'Int64', 'content':'object'})

print(Tweets[Tweets['content'].str.len()>25][['tweet_id']])

   tweet_id
1         2

In [91]:
#specail bonos
import pandas as pd
data = [[2, 'Meir', 3000], 
        [3, 'Michael', 3800], 
        [7, 'Addilyn', 7400],
        [8, 'Juan', 6100],
        [9, 'Kannon', 7700]]
Employees = pd.DataFrame(data, columns=['employee_id', 'name', 'salary']).astype({'employee_id':'int64', 'name':'object', 'salary':'int64'})



# Employees['bonos']= (Employees['salary'] if ~Employees['name'].str.startswith("M")  else 0  )
ls=[]
for i in range(len(Employees)):
        if(~Employees.at[i,'name'].startswith("M") & Employees.at[i,'employee_id']%2!=0):
               ls.insert(i,Employees.at[i,'salary'])
        else:
            ls.insert(i,0)
           
Employees['bonos']=ls
print(Employees)
# print(Employees.loc(~Employees['name'].str.startswith("M"),['name']))

[0, 0, 7400, 0, 7700]
   employee_id     name  salary  bonos
0            2     Meir    3000      0
1            3  Michael    3800      0
2            7  Addilyn    7400   7400
3            8     Juan    6100      0
4            9   Kannon    7700   7700

In [107]:
#fix names in a table
data = [[1, 'aLice'], [2, 'bOB']]
Users = pd.DataFrame(data, columns=['user_id', 'name']).astype({'user_id':'Int64', 'name':'object'})
def rename(x):
    name=x['name']
    name=name[0:1].upper()+name[1:len(name)].lower()
    return [x.user_id,name]

print(Users.apply(rename,1,False,'broadcast'))

  user_id   name
0       1  Alice
1       2    Bob

In [18]:
#invalid Email
import pandas as pd
    pattern=r"^[a-zA-Z][_\-\.a-zA-Z0-9]*@leetcode\.com$"
data = [[1, 'Winston', 'winston@leetcode.com'],[2, 'Jonathan', 'jonathanisgreat'],
        [3, 'Annabelle', 'bella-@leetcode.com'],[4, 'Sally', 'sally.come@leetcode.com@leetcode.com'], 
        [5, 'Marwan', 'quarz#2020@leetcode.com'],[6, 'David', 'david69@gmail.com'],
        [7, 'Shapiro', '.shapo@leetcode.com']]
Users = pd.DataFrame(data, columns=['user_id', 'name', 'mail']).astype({'user_id':'int64', 'name':'object', 'mail':'object'})

print(Users[(Users['mail'].str.match(pattern))])

   user_id       name                  mail
0        1    Winston  winston@leetcode.com
2        3  Annabelle   bella-@leetcode.com

In [34]:
#find diabities patient
import pandas as pd
data = [[1, 'Daniel', 'YFEV COUGH'], [2, 'Alice', ''],
        [3, 'Bob', 'DIAB100 MYOP'], [4, 'George', 'ACNE DIAB100'], [5, 'Alain', 'DIAB201'],[1, "Daniel"," SADIAB100"]]
Patients = pd.DataFrame(data, columns=['patient_id', 'patient_name', 'conditions']).astype({'patient_id':'int64', 'patient_name':'object', 'conditions':'object'})

pattern=r"\bDIAB1\w*\b"
print(Patients[Patients['conditions'].str.contains(pattern)])

   patient_id patient_name    conditions
2           3          Bob  DIAB100 MYOP
3           4       George  ACNE DIAB100